.header {
  background-color: var(--baseBg);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .authBlock {
      flex-grow: 1;
      text-align: right;
    }
  }
}
.progress {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
